@font-face {
    font-family: "Cera Pro";
    src: url("/fonts/CeraPro-Regular.ttf"),
    url("/fonts/CeraPro-Regular.woff"),
    url("/fonts/CeraPro-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Cera Pro";
    src: url("/fonts/CeraPro-Light.ttf"),
    url("/fonts/CeraPro-Light.woff"),
    url("/fonts/CeraPro-Light.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Cera Pro";
    src: url("/fonts/CeraPro-Medium.ttf"),
    url("/fonts/CeraPro-Medium.woff"),
    url("/fonts/CeraPro-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Cera Pro";
    src: url("/fonts/CeraPro-Bold.ttf"),
    url("/fonts/CeraPro-Bold.woff"),
    url("/fonts/CeraPro-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Cera Pro";
    src: url("/fonts/CeraPro-Black.ttf"),
    url("/fonts/CeraPro-Black.woff"),
    url("/fonts/CeraPro-Black.woff2");
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cera Pro", serif;
}

.container{
    width: 83.33333%;
    margin: 0 auto;
}

header .container{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 17px;
    border-bottom: 0.3px solid #46A35880;
}

.logo, nav, .login{
    display: inline-block;
}

ul li{
    display: inline-block;
    list-style: none;
    padding-right: 50px;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3d3d3d;
}

nav ul li a:hover{
    font-weight: 700;
    padding-bottom: 35px;
    border-bottom: #46A358 solid 3px;
}


.description, .picture{
    display: inline-block;
}

.logo{
    float: left;
}

.login{
    float: right;
}

.login a{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    font-size: 16px;
    line-height: 1.2568;
    border: none;
    padding: 8px 17px;
    text-decoration: none;
}

.logoutIcon{
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.logoutIcon::before{
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-top:1px;
    margin-right: 5px;
}
.logoutIcon::before{
    background-image: url(img/Logout.svg);
}

.picture{
    width: 0.4225%;
}

.picture__parent{
    position: relative;
}

.picture__children{
    position: absolute;
    left: 50px;
    bottom: 17px;
}
.description{
    width: 58%;
    vertical-align: top;
    padding-top: 68px;
}
.description h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
}
.description h1{
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 5px;
}

.description h1 span{
    color: #46A358;
}
.description p{
    width: 85%;
    font-size: 14px;
    line-height: 1.71429;
    color: #727272;
    padding-bottom: 44px;
}
.description button{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 10px 27px;
    border: none;
    font-size: 14px;
    line-height: 1.25;
}

.del__float::after{
    content: "";
    display: block;
    clear: both;
}

section{
    margin-top: 26px;
}

.categori{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 15px;
}

.categori__item{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 5px 12px;
}

.categori__item a:hover{
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.aside__list{
    background-color: #FBFBFB;
    padding: 14px 18px;
    padding-bottom: 300px;
}

aside{
    width: 25.833%;
    display: inline-block;
}
.aside{
    display: block;
}

.catalog{
    width: 73%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
}

.catalog__categori__item{
    margin-right: 37px;
    padding-right: 0;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.catalog__categori__item a:hover{
    color: #46A358;
    padding-bottom: 7px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-bottom: #46A358 solid 2px;
}

.catalog__sort{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.card__wraper{
    padding-top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 30px;
}

.card{
    display: inline-block;
    width: 30.71%;
}

.catalog__nav{
    display: flex;
    justify-content: space-between;
}
.catalog_nav__categori{
    display: inline-block;
}

.catalog__sort{
    display: inline-block;
}

.aside__baner{
    width: 100%;
    display: block;
}

.aside__baner__img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.categori__item{
    display: block;
}

.card__name{
    margin-top: 12px;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.card__price{
    margin-top: 6px;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

