@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Regular.ttf"),
    url("../fonts/CeraPro-Regular.woff"),
    url("../fonts/CeraPro-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Light.ttf"),
    url("../fonts/CeraPro-Light.woff"),
    url("../fonts/CeraPro-Light.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Medium.ttf"),
    url("../fonts/CeraPro-Medium.woff"),
    url("../fonts/CeraPro-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Bold.ttf"),
    url("../fonts/CeraPro-Bold.woff"),
    url("../fonts/CeraPro-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Black.ttf"),
    url("../fonts/CeraPro-Black.woff"),
    url("../fonts/CeraPro-Black.woff2");
    font-weight: 900;
}
@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Bold.ttf");
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cera Pro", serif;
}

.container{
    width: 83.33333%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 17px;
    border-bottom: 0.3px solid #46A35880;
}

nav ul li{
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
}
nav>ul{
    display: flex;
}

nav>ul>li{
    padding-right: 50px;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: 16px;
    color: #3d3d3d;
    padding-bottom: 35px;
}

nav>ul>li:hover>a,
nav>ul>li:focus-within>a{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.inner-first-level-menu li>a{
    text-align: left;
    display: block;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inner-first-level-menu{
    display: flex;
    width: 188px;
    left: -50%;
    flex-direction: column;
    justify-content: left;
    background-color: #EDF6EE;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.inner-first-level-menu li{
    padding: 8px 14px;
}

.inner-first-level-menu>li:hover a{
    color: #FFFFFF;
    font-family: "Encode Sans Expanded", serif;
    font-weight: 700;
    line-height: normal;
}

.inner-first-level-menu li:hover{
    background-color: #1A712A;
}
/*
.inner-first-level-menu>li:hover .inner-second-level-menu{
    display: block;
}*/
.inner-second-level-menu{
    width: 178px;
    left: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: #EDF6EE;
    position: absolute;
    top: -109px;
    z-index: 11;
    display: none;
}


.inner-second-level-menu li{
    padding: 8px 14px;
}

.inner-second-level-menu li:hover a{
    color: #FFFFFF!important;
    font-family: "Encode Sans Expanded", serif;
    font-weight: 700!important;;
    line-height: normal;
}
.inner-second-level-menu li>a{
    text-align: left;
    display: block;
    color: #3D3D3D!important;
    font-family: "Encode Sans Expanded", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400!important;;
    line-height: normal;
}

.inner-second-level-menu li:hover{
    background-color: #1A712A;
}

header ul>li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
}

.inner-first-level-menu li:hover .inner-second-level-menu{
    display: block;
}


.description, .picture{
    display: inline-block;
}


.login a{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    font-size: 16px;
    line-height: 1.2568;
    border: none;
    padding: 8px 17px;
    text-decoration: none;
}

.logoutIcon{
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.logoutIcon::before{
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-top:1px;
    margin-right: 5px;
}
.logoutIcon::before{
    background-image: url(../img/Logout.svg);
}

.main{
    margin-top: 12px;
    background-color: rgba(245, 245, 245, 0.5);
    display: flex;
    justify-content: space-between;
}

.picture__parent{
    position: relative;
}

.picture__children{
    position: absolute;
    left: 50px;
    bottom: 17px;
}
.description{
    width: 58%;
    vertical-align: top;
    padding-top: 68px;
    padding-left: 40px;
}
.description h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
}
.description h1{
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 5px;
}

.description h1 span{
    color: #46A358;
}
.description p{
    width: 85%;
    font-size: 14px;
    line-height: 1.71429;
    color: #727272;
    padding-bottom: 44px;
}
.description button{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 10px 27px;
    border: none;
    font-size: 14px;
    line-height: 1.25;
}

section{
    margin-top: 26px;
}

.categori{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 15px;
}

.categori__item a{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 15px;
}

.categori__item a:hover{
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.aside__list{
    background-color: #FBFBFB;
    padding: 14px 18px;
    padding-bottom: 300px;
}

aside{
    width: 25.833%;
}

.catalog{
    width: 73%;
    padding-left: 50px;
    vertical-align: top;
}

.catalog__categori__item a{
    text-decoration: none;
    color: #3D3D3D;
}

.catalog__categori__item{
    margin-right: 37px;
    padding-right: 0;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
}

.catalog__categori__item a:hover{
    color: #46A358;
    padding-bottom: 7px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-bottom: #46A358 solid 2px;
}

.catalog__sort{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.card__wraper{
    padding-top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 30px;
}


.catalog__nav{
    display: flex;
    justify-content: space-between;
}

.catalog_nav__categori ul{
    display: flex;
}

.section-catalog{
    display: flex;
}

.catalog__sort{
    display: inline-block;
}

.aside__baner{
    width: 100%;
    display: block;
}

.aside__baner__img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.categori__item{
    display: block;
}

.card__build{
}
.build-with-icons{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
.icons{
    display: none;
    position: absolute;
    bottom: 7px;
}
.icon{
    margin: 0 15px;
    width: 20px;
    height: 20px;

}
.build-with-icons:hover{
    border-top: #46A358 solid 1px;
}

.build-with-icons:hover .icons{
    display: flex;
}
.card-price-sale{
    display: flex;
    align-items: center;
}
.card__price-with-sale{
    margin-left: 16px;
    color: #A5A5A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.889%;
    text-decoration: line-through;
}
.wraper-label-sale{
    position: relative;
}
.label-sale{
    position: absolute;
    left: 0;
    top: 14px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 6px 8px;
    display: inline-block;
}
.card__name{
    margin-top: 12px;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.card__price{
    margin-top: 6px;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.top-product{
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 138px;
}
.product-pflance{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background-color: #FBFBFB;
}
.product-name{
    margin-bottom: 7px;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 133.333px;
    text-transform: uppercase;
}
.product-description{
    margin-bottom: 25px;
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.product-button{
    border: none;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 28px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.product-information{
    padding-right: 30px;
}

.icon-arrow{
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.icon-arrow::after{
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    margin-top:2px;
    margin-left: 5px;
}
.icon-arrow::after{
    background-image: url(../img/Arrow-Right.svg);
}

.blog-title,
.blog-subtitle{
    text-align: center;
}

.blog-title
{
    color: #3D3D3D;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.333%;
    margin-bottom: 15px;
}

.blog-subtitle{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.43%;
    margin-bottom: 35px;
}

.blog-cards{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    margin-bottom: 68px;
}

.card-img{
    width: 100%;
}

.card-container{
    padding: 9px 11px 12px 15px;
    background-color: #FBFBFB;;
}

.blog-card-subtitle{
    color: #46A358;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    margin-bottom: 4px;
}

.blog-card-title
{
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 4px;
}

.blog-card-description{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.143%;
    margin-bottom: 9px;
}

.read-more{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    text-decoration: none;
}

.read-more:hover{
    color: #46A358;
}

.card-icon-arrow{
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.card-icon-arrow::after{
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin-top:1px;
    margin-left: 5px;
}
.card-icon-arrow::after {
    background-image: url(../img/ArrowRightBlack.svg);
}
