@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Regular.ttf"),
    url("../fonts/CeraPro-Regular.woff"),
    url("../fonts/CeraPro-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Light.ttf"),
    url("../fonts/CeraPro-Light.woff"),
    url("../fonts/CeraPro-Light.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Medium.ttf"),
    url("../fonts/CeraPro-Medium.woff"),
    url("../fonts/CeraPro-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Bold.ttf"),
    url("../fonts/CeraPro-Bold.woff"),
    url("../fonts/CeraPro-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Black.ttf"),
    url("../fonts/CeraPro-Black.woff"),
    url("../fonts/CeraPro-Black.woff2");
    font-weight: 900;
}
@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Bold.ttf");
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cera Pro", serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-size: 16px;
}

.container{
    width: 83.33333%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 17px;
    border-bottom: 0.3px solid #46A35880;
}

.header-burger{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header-burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    left: 5px;
    transition: transforn .5s, opacity .5s, background-color .5s;
}

.header-burger span:nth-child(1){
    transform: translateY(-10px);
}

.header-burger span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header-burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header-burger span:nth-child(2){
    opacity: 0;
}
.header.open .header-burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
}
header nav>ul li{
    position: relative;
}
header nav>ul li{
    list-style: none;
    margin-right: 45px;
}
header nav>ul>li:last-child{
    margin-right: 0;
}
header nav>ul>li:first-child{
    margin-left: 30px;
}
nav>ul li a {
    text-decoration: none;
}
header nav>ul{
    display: flex;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav>ul>li>a{
    text-decoration: none;
    font-size: 16px;
    color: #3d3d3d;
    padding-bottom: 25px;
    transition: font-weight 0.5s ease;
}

header nav>ul>li:hover>a,
header nav>ul>li:focus-within>a{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.inner-first-level-menu li>a{
    text-align: left;
    display: block;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inner-first-level-menu{
    display: flex;
    width: 120px;
    left: 0;
    flex-direction: column;
    justify-content: left;
    background-color: #EDF6EE;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    top: 59px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.inner-first-level-menu li{
    padding: 8px 14px;
}

.inner-first-level-menu>li:hover a{
    color: #FFFFFF;
    font-family: "Encode Sans Expanded", serif;
    font-weight: 700;
    line-height: normal;
}

.inner-first-level-menu li:hover{
    background-color: #1A712A;
    width: 100%;
}

.inner-second-level-menu{
    width: 188px;
    left: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: #EDF6EE;
    position: absolute;
    top: 0;
    z-index: 11;
    display: none;
}

.inner-second-level-menu li{
    padding: 8px 14px;
}

.inner-second-level-menu li:hover a{
    color: #FFFFFF!important;
    font-family: "Encode Sans Expanded", serif;
    font-weight: 700!important;;
    line-height: normal;
}
.inner-second-level-menu li>a{
    text-align: left;
    display: block;
    color: #3D3D3D!important;
    font-family: "Encode Sans Expanded", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400!important;;
    line-height: normal;
}

.inner-second-level-menu li:hover{
    background-color: #1A712A;
}

header ul>li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
}

.inner-first-level-menu li:hover .inner-second-level-menu{
    display: block;
}


.description, .picture{
    display: inline-block;
}

.heder-login{
    display: flex;
    align-items: center;
}

.heder-login a{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    font-size: 16px;
    line-height: 1.2568;
    border: none;
    padding: 8px 17px;
    text-decoration: none;

}
.right-heder:hover{
    transform: scale(1.2);
}
.right-heder{
    margin-left: 30px;
    transition: 1.1s ease;

}

.logoutIcon{
    display: flex;
    align-items: center;
}
.logout-icon{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    text-align: center;
}

.main{
    margin-top: 12px;
    background-color: rgba(245, 245, 245, 0.5);
    display: flex;
    justify-content: space-between;
}
.picture{
    width: 48%;
}
.picture__parent{
    position: relative;
}

.picture__parent>img{
    width: 100%;
}

.picture__children{
    position: absolute;
    left: 50px;
    bottom: 17px;
}
.description{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.description button{
    cursor: pointer;
    display: inline-block;
}
.description h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
}
.description h1{
    font-size: 4.375rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 5px;
}

.description h1 span{
    font-size: 4.375rem;
    color: #46A358;
}
.description p{
    width: 85%;
    font-size: 14px;
    line-height: 1.71429;
    color: #727272;
    padding-bottom: 44px;
}
.description button{
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 10px 27px;
    border: none;
    font-size: 14px;
    line-height: 1.25;
    transition: 1.1s ease;
}
.description button:hover{
    transform: scale(1.1);
}
section{
    margin-top: 26px;
}

.categori{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 20px;
}

.categori__item a{
    display: inline-block;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 5px 12px;
    text-decoration: none;
    width: 100%;
    transition: 0.5s ease;
}

.categori__item a:hover{
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.categori-list-item{

    display: flex;
    justify-content: space-between;
}

.aside__list{
    background-color: #FBFBFB;
    padding: 14px 18px;
}

aside{
    width: 27%;
}

.catalog{
    width: 73%;
    margin-left: 50px;
    vertical-align: top;
}

.catalog__categori__item a{
    text-decoration: none;
    color: #3D3D3D;
    transition: color,font-weight 0.5s ease;
}

.catalog__categori__item{
    margin-right: 37px;
    padding-right: 0;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
}

.catalog__categori__item a:hover{
    transform: scale(1.2);
    color: #46A358;
    padding-bottom: 7px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-bottom: #46A358 solid 2px;
}

.categori__items>img{
    width: 100%;
}

.price-title{
    margin-top: 36px;
}
.categiri-price{
    font-weight:700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
}
.categori-title-price{
    margin-top: 15px;
}

.btn-filter{
    padding: 8px 25px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 46px;
}

.catalog__sort{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.card__wraper{
    padding-top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 30px;
}


.catalog__nav{
    display: flex;
    justify-content: space-between;
}

.catalog_nav__categori ul{
    display: flex;
}

.section-catalog{
    display: flex;
}

.catalog__sort{
    display: inline-block;
}

.aside__baner{
    width: 100%;
    display: block;
}

.aside__baner__img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.categori__item{
    display: block;
}
div>.card{
    width: calc(33% - 30px);
}

.card__build{
    width: 100%;
}

.build-with-icons{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.facebook-g-icon{
    width: 31px;
    height: 31px;
    padding: 7px 11px;
    border-radius: 4px;
    border: rgba(70, 163, 88, 0.2) solid 1px;
}

.instagram-icon{
    width: 31px;
    height: 31px;
    padding: 7px;
    border-radius: 4px;
    border: rgba(70, 163, 88, 0.2) solid 1px;
}

.twiter-icon{
    width: 31px;
    height: 31px;
    padding: 7px 8px;
    border-radius: 4px;
    border: rgba(70, 163, 88, 0.2) solid 1px;
}

.linkedin-icon{
    width: 31px;
    height: 31px;
    padding: 7px;
    border-radius: 4px;
    border: rgba(70, 163, 88, 0.2) solid 1px;
}

.utub-icon{
    width: 31px;
    height: 31px;
    padding: 8px 6px;
    border-radius: 4px;
    border: rgba(70, 163, 88, 0.2) solid 1px;
}


.lop-icon,
.shop-icon,
.heart-icon,
.map-icon,
.mail-icon,
.tel-icon{
    width: 20px;
    height: 20px;
}
.basket-icon{
    width: 31px;
    height: 24px;
}

.icons{
    display: none;
    position: absolute;
    bottom: 7px;
}
.appear-icon{
    margin: 0 15px;
    width: 20px;
    height: 20px;
}

.build-with-icons:hover{
    border-top: #46A358 solid 1px;
}

.build-with-icons:hover .icons{
    display: flex;
}
.card-price-sale{
    display: flex;
    align-items: center;
}
.card__build{
    position: relative;
}

.card__price-with-sale{
    margin-left: 16px;
    color: #A5A5A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.889%;
    text-decoration: line-through;
}

.label-sale{
    position: absolute;
    left: 0;
    top: 14px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 6px 8px;
    display: inline-block;
}
.card__name{
    margin-top: 12px;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.card__price{
    margin-top: 6px;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.top-product{
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 138px;
}
.product-pflance{
    display: flex;
    width: calc(50% - 28px);
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background-color: #FBFBFB;
}
.product-pflance>img{
    width: 50%;
    height: 100%;
}
.product-name{
    margin-bottom: 7px;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 133.333%;
    text-transform: uppercase;
}

.product-description{
    margin-bottom: 25px;
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.product-information{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}
.btn-find-more{
    align-self: flex-end;
}
.product-button{
    border: none;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 25px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: 1.1s ease;
}

.product-button:hover{
    transform: scale(1.1);
}

.arrow-right-icon{
    width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-top: 2px;
}

.blog-title,
.blog-subtitle{
    text-align: center;
}

.blog-title
{
    color: #3D3D3D;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.333%;
    margin-bottom: 15px;
}

.blog-subtitle{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.43%;
    margin-bottom: 35px;
}

.blog-cards{
    display: flex;
    justify-content: space-between;
    column-gap: 33px;
    margin-bottom: 100px;
    align-items: stretch;
}

.blog-cards .card{
    width: calc(25% - 33px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img{
    width: 100%;
    height: auto;
}

.card-container{
    padding: 9px 11px 12px 15px;
    background-color: #FBFBFB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-card-subtitle{
    color: #46A358;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    margin-bottom: 4px;
}

.blog-card-title
{
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 4px;
}

.blog-card-description{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.143%;
    margin-bottom: 9px;
}

.read-more{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1s ease;
}

.read-more:hover{
    color: #46A358;
    transform: scale(1.1);
    transform-origin: left;
}
.read-more:hover svg{
    fill: #46A358;
    transform: scale(1.1);
}
.black-arrow-right-icon{
    width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-top: 2px;
}
.newsletters{
    display: flex;
    background: #FBFBFB;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.arrow-pagination-icon{
    width: 18px;
    height: 18px;
}
.pagination{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 95px;
}
.pagination-page{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: #E5E5E5 solid 1px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.pagination-page:first-child{
    background-color: #46A358;
    color: #FFFFFF;
}
.cards-with-kaktus{
    display: flex;
    width: 80%;
}
.card-kaktus{
    padding: 0 25px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-kaktus>img{
    padding-bottom: 15px;
}
.card-kaktus-title{
    color: #3D3D3D;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 10px;
}
.card-kaktus-description{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.card-kaktus.card-with-border{
    border-right: rgba(70, 163, 88, 0.10) solid 1px;
    border-left: rgba(70, 163, 88, 0.10) solid 1px;
    align-self: center;
}
.bgimage1,
.bgimage2,
.bgimage3{
    height: 100px;
    background-position: top left;
    background-repeat: no-repeat;
}

.bgimage1{
    background-image: url("../img/Picture-kakrus1.png");
}
.bgimage2{
    background-image: url("../img/Picture_kaktus2.png");

}
.bgimage3{
    background-image: url("../img/Picture-kaktus3.png");
}

.subscribe{
    padding-top: 15px;
}
.newsletter{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 37px;
    padding-right: 25px;
}
.newsletter>h5{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 25px;
}
.newsletter>form{
    padding-bottom: 18px;
    width: 100%;
    display: flex;
}

.newsletter>form>button{
    padding: 12px 20px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    background-color: #46A358;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: 1.1s linear;
}
.newsletter>form>button:hover{
    transform: scale(1.1);
}

.newsletter>form>input{
    width: 354px;
    height: 40px;
    padding: 11px;
    border: none;
    border-radius: 6px 0 0 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}
.newsletter>form>input[placeholder]{
    color: #ACACAC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.newsletter-description{
    color: #727272;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.nomargin{
    margin: 0;
}
.contaction{
    height: 88px;
    padding: 28px 24px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
    display: flex;
    justify-content: space-between;
}
.adress,
.mail,
.tel{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.contact-text{
    padding-left: 9px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFB;
    padding: 33px 25px;
    border-bottom: rgba(70, 163, 88, 0.20) solid 1px;
    margin-bottom: 7px;
}
.acount nav ul,
.help nav ul,
.categories nav ul,
.social-media nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.social-media{
    width: 25%;
}

.acount h5,
.help h5,
.categories h5,
.social-media h5,
.social-media h5{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 10px;
}

.acount nav ul li,
.help nav ul li,
.categories nav ul li,
.social-media nav ul li{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.acount nav ul li a,
.help nav ul li a,
.categories nav ul li a,
.social-media nav ul li a {
    color: #3D3D3D;
}

.social-media-icons{
    display: flex;
    padding: 10px 0 33px 0;
}
.social-media img{
    padding-top: 6px;
}
.svg-icon{
    padding-right: 10px;
    cursor: pointer;
}

.reserved{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 22px;
}
/* ------Reg-form-------------- */
.form-container{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    font-family: "Cera Pro", serif;
    color: #3D3D3D;
    box-sizing: content-box;
    position: relative;
}
.form-title{
    padding: 52px 0 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 0.8;
    font-weight: 500;
}
.login{
    color: #3D3D3D;
    padding-right: 10px;
}
input::placeholder{
    font-weight: 400;
    font-size: 13px;
    line-height: 1.14286;
    color: #a5a5a5;
}
.border-line{
    font-weight: 250;
    font-size: 18px;
    line-height: 0.8889;
    color: #3D3D3D;
}
.register{
    color: #46A358;
    margin-left: 10px;
}
.subTitle{
    padding-bottom: 14px;
    text-align: left;
}
.form{
    width: 300px;
    margin: 40px auto 50px;
}
.control {
    display: flex;
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 8px 10px;
    margin-bottom: 16px;
    text-align: left;
    text-decoration: none;
    color: #3D3D3D;
    align-items: center;
    justify-content: center;
}

.btnRegister{
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin-top: 25px;
    margin-bottom: 36px;
    padding: 16px;
    border: none;
    transition: 1s ease;
}

.btnRegister:hover{
    transform: scale(1.1);
}

.otherRegister{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}
.orwLine{
    width: 97px;
    height: 0;
    border: 1px solid #EAEAEA;
}

.google-icon{
    width: 25px;
    height: 25px;
    padding-right: 9px;
}

.facebook-icon{
    width: 20px;
    height: 20px;
    padding-right: 4px;
}
#preloader{
    position: fixed;
    top: 0;
    bottom: 4%;
    right: 0;
    left: 0;
    background-color: rgba(61, 61, 61, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

}
.preloader{
    content: " ";
    height: 32px;
    width: 32px;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: #46A370;
    border-bottom-color: #52C368;
    border-right-color: #52C368;
    border-left-color: #52C368;
    animation: around 1.5s linear infinite;
}
@keyframes around {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

@media screen and (max-width: 1020px){

    header nav ul li:first-child{
        margin-left: 0;
    }
    header nav ul li{
        margin: 0;
        position: relative;
    }
    nav ul li{
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
    }
    header nav>ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .right-heder:first-child{
        margin: 0;
    }

    .description h1{
        font-size: 3rem;
    }

    .description h1 span{
        font-size: 3rem;
    }

    .picture__children{
        position: absolute;
        left: -10px;
        bottom: 17px;
    }
    .picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .picture__parent{
        position: relative;
    }

    .picture__parent>img{
        width: 100%;
    }

    aside{
        width: 30%;
    }

    .catalog{
        width: 70%;
        margin-left: 20px;
        vertical-align: top;
    }
    .card__wraper{
        padding-top: 31px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px 15px;
    }

    div>.card{
        width: calc(33% - 15px);
    }

    .label-sale{
        font-size: 12px;
        padding: 4px 6px;
    }

    .card-price-sale{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .card__price-with-sale{
        margin-left: 0;
        margin-top: 5px;
    }

    .top-product{
        column-gap: 10px;
        margin-bottom: 50px;
    }
    .product-pflance{
        width: calc(50% - 10px);

    }
    .product-pflance>img{
        width: 50%;
        height: 80%;
    }

    .product-information{
        padding: 10px;
    }

    .product-button{
        padding: 11px 15px;

    }

    .blog-cards{
        column-gap: 15px;
        margin-bottom: 50px;
    }

    .blog-cards .card{
        width: calc(25% - 15px);
    }

    .blog-card-title
    {
        font-size: 16px;
    }

    .newsletter>h5{
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 20px;
    }

    .newsletter>form>button{
        padding: 8px 12px;
        font-size: 14px;
    }

    .newsletter>form>input[placeholder]{
        font-size: 12px;
    }
    .newsletter-description{
        font-size: 13px;
        line-height: 22px;
    }
    .contact-text{
        font-size: 12px;

    }

    .social-media{
        width: 30%;
    }
}

@media screen and (max-width: 859px) {
    .logo {
        display: flex;
        align-items: center;
    }

    .logo > img {
        width: 100px;
    }

    header nav > ul > li > a {
        padding-bottom: 22px;
    }

    .inner-first-level-menu {
        top: 55px;
    }

    .heder-login a {
        width: 50px;
        font-size: 12px;
        padding: 8px 10px;
    }

    .logout-icon {
        display: none;
    }

    .logoutIcon {
        justify-content: center;
    }

    .right-heder {
        margin-left: 10px;
    }

    .container {
        width: 90%;
    }

    .right-heder:hover {
        transform: scale(1.2);
    }

    .container {
        width: 90%;
    }

    .main {
        flex-direction: column;
    }

    .picture {
        width: 100%;
    }

    .picture__parent > img {
        width: 100%;
    }

    .picture__children {
        left: 1px;

    }

    .description {
        width: 100%;
    }

    .description h1 {
        font-size: 3rem;
    }

    .description h1 span {
        font-size: 3rem;
    }

    .aside__list {
        padding: 14px 5px;
    }

    aside {
        width: 50%;
    }

    .catalog {
        width: 50%;
        margin-left: 20px;
    }

    .card__wraper {
        padding-top: 0;
        flex-direction: column;
        row-gap: 30px;
    }

    .catalog__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .catalog_nav__categori ul {
        display: flex;
        flex-direction: column;
    }

    .catalog__categori__item > a {
        padding: 0 30px;
    }

    .catalog__sort {
        display: inline-block;
        margin: 20px 0;
    }


    .categori__item {
        display: block;
    }

    div > .card {
        width: 100%;
    }

    .catalog__categori__item > a {
        display: block;
        margin: 0;
        padding: 10px 0;
    }

    .top-product {
        flex-direction: column;
        row-gap: 15px;
    }

    .product-pflance {
        width: 100%;
    }

    .product-information {
        padding: 0;
        margin-bottom: 50px;
    }

    .blog-cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 15px;
        margin-bottom: 100px;
    }

    .blog-cards .card {
        width: calc(50% - 10px);
    }

    .newsletters {
        display: flex;
        background: #FBFBFB;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cards-with-kaktus {
        width: 100%;
    }

    .blog-cards {
        margin-bottom: 50px;
    }

    .newsletter {
        margin-top: 30px;
        width: 100%;
        padding: 30px;
    }

    .newsletter > h5 {
        width: 100%;
    }

    .contaction {
        height: 250px;
        padding: 28px 24px;
        display: flex;
        flex-direction: column;
    }

    .contaction a {
        justify-content: left;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px 10px;
    }
    .acount{
        width: calc(50% - 10px);
    }
    .help{
        width: calc(50% - 10px);
    }
    .categori{
        width: calc(50% - 10px);
    }
    .social-media{
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 539px){
    .header-burger{
        display: block;
    }

    .logo ~ nav{
        position: absolute;
        top: 87px;
        z-index: 9999;
        left: -50%;
        transition: transform 0.5s;
    }
    .header.open .menu{
        left: 50%;
        transform: translateX(-50%);
    }
    .menu>ul{
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: #EDF6EE;
        white-space: nowrap;
        z-index: 10;
        top: 59px;
        margin: 0;
    }

    header nav{
        width: 188px;
        display: flex;
        align-items: center;
    }
    header nav>ul li{
        position: relative;
    }
    header nav>ul li{
        list-style: none;
        margin-right: 0;
        width: 100%;
    }
    header nav>ul>li:last-child{
        margin-right: 0;
    }
    header nav>ul>li:first-child{
        margin-left: 0;
    }
    nav>ul li a {
        text-decoration: none;
    }

    header nav>ul>li>a{
    padding: 8px 14px;
    }

    header nav>ul>li>a{
        text-align: left;
        display: block;
        transition: font-weight 0.5s ease;
    }

    .inner-first-level-menu{
        display: none;
        position: static;
        width: 188px;
    }
    .inner-first-level-menu{
        padding: 0;
    }
    .inner-first-level-menu li{
        padding: 0;
    }
    .inner-first-level-menu li a{
        padding: 8px 14px;
    }
    header nav>ul>li:hover>a,
    header nav>ul>li:focus-within>a,
    .inner-first-level-menu>li:hover a,
    .inner-first-level-menu>li:focus-within>a{
        color: #FFFFFF;
        font-family: "Encode Sans Expanded", serif;
        font-weight: 700;
        line-height: normal;
        border-bottom: none;
    }
    header nav>ul>li:hover{
        width: 100%;
    }
    header nav>ul>li:hover>a,
    header nav>ul>li:focus-within>a,
    .inner-first-level-menu li:hover>a,
    .inner-first-level-menu>li:focus-within>a,
    .inner-second-level-menu li:hover>a,
    .inner-second-level-menu>li:focus-within>a{
        background-color: #1A712A;
        width: 100%;
    }

    .inner-second-level-menu{
        position: static;
        width: 188px;
        left: 100%;
        top: 0;
        padding: 0;
    }

    .inner-first-level-menu li:hover .inner-second-level-menu {
        display: block;
    }

    .blog-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 33px;
        margin-bottom: 100px;
        align-items: stretch;
    }
    .blog-cards .card{
        width: 100%;

    }

    .newsletters{
        display: flex;
        flex-direction: column;
    }
    .cards-with-kaktus{
        display: flex;
        flex-direction: column;

    }
    .card-kaktus{
        width: 100%;
    }

    .card-kaktus.card-with-border{
        border-right: none;
        border-left: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }

    .social-media{
        width: 100%;
    }

    .footer h5{
        margin-top: 15px;
    }

}